<div class="zf-label" [ngClass]="qrLayout">
  <div *ngIf="label.showQrCode && label.stockUrl" class="lo-column lo-justify-center lo-align-center">
    <qrcode
      [qrdata]="label.stockUrl"
      elementType="url" errorCorrectionLevel="M"
      scale="2"
      margin="6"
      width="10">
    </qrcode>
  </div>
  <div [ngStyle]="{ 'font-size.pt': label.printConfig.fontPointSize, 'font-family': label.printConfig.fontFamily}"
       class="lo-column lo-full">
    <div *ngFor="let elementRow of label.tankLabelElements" class="lo-row lo-justify-space-between">
      <div *ngFor="let element of elementRow">{{element}}</div>
    </div>
  </div>
</div>
