<div class="zf-label" [fxLayout]="qrLayout">
  <div *ngIf="label.showQrCode && label.stockUrl" fxLayout="column" fxLayoutAlign="center center">
    <qrcode
      [qrdata]="label.stockUrl"
      elementType="url" errorCorrectionLevel="M"
      scale="2"
      margin="6"
      width="10">
    </qrcode>
  </div>
  <div [ngStyle]="{ 'font-size.pt': label.printConfig.fontPointSize, 'font-family': label.printConfig.fontFamily}"
       fxFlex fxLayout="column">
    <div *ngFor="let elementRow of label.tankLabelElements" fxLayout="row" fxLayoutAlign="space-between">
      <div *ngFor="let element of elementRow">{{element}}</div>
    </div>
  </div>
</div>
