<div class="zf-label lo-row lo-full">
  <!-- The next line prevents the label from being cut off on the left.
     This just screams that I have no idea what I am doing. -->
  <div class="lo-2"></div>

  <div [ngStyle]="{ 'font-size.pt': crossLabel.fontSize, 'font-family': crossLabel.fontFamily }"
       class="lo-column lo-full">

    <!-- Researcher and Date-->
    <div class="lo-row lo-justify-space-between">
      <div>{{crossLabel.researcherName}}</div>
      <div>{{crossLabel.dateString}}</div>
    </div>

    <!-- Mom -->
    <div class="lo-row lo-align-center lo-gap10">
      <div class="lo-4">
        <mat-icon>female</mat-icon>
      </div>
      <div class="lo-14">{{crossLabel.momName}}</div>
      <div class="lo-full">{{crossLabel.momAlleleSummary}}</div>
      <div *ngIf="crossLabel.momTank" class="lo-14">T:{{crossLabel.momTank}}</div>
    </div>

    <!-- Dad -->
    <div class="lo-row lo-align-center lo-gap10">
      <div class="lo-4">
        <mat-icon>male</mat-icon>
      </div>
      <div class="lo-14">{{crossLabel.dadName}}</div>
      <div class="lo-full">{{crossLabel.dadAlleleSummary}}</div>
      <div *ngIf="crossLabel.dadTank" class="lo-4">T:{{crossLabel.dadTank}}</div>
    </div>

    <!-- Extra notes -->
    <div *ngIf="crossLabel.note">{{crossLabel.note}}</div>
  </div>
</div>
