<div class="lo-column lo-gap10">
  <!-- This is a mock-up of the label -->
  <div class="lo-row lo-justify-center lo-align-center lo-gap10">

    <!-- Font Selector Menu -->
    <div class="lo-column lo-justify-center lo-align-center">
      <mat-form-field>
        <mat-select [(ngModel)]="label.tankLabelOptions.labelPrintingOptions.fontFamily" name="fontFamily">
          <mat-option *ngFor="let option of fonts" [value]="option">
            <div>{{option}}</div>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Font size selector lets the user adjust font to fit more junk on the label -->
    <div class="lo-column lo-justify-center lo-align-center">
      <button (click)="changeFontSize(1)" aria-label="Increase font size" color="primary" mat-icon-button>
        <mat-icon>arrow_drop_up</mat-icon>
      </button>
      <div>{{label.tankLabelOptions.labelPrintingOptions.fontPointSize}}pt</div>
      <button (click)="changeFontSize(-1)" aria-label="Decrease font size" color="primary" mat-icon-button>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </div>

    <!-- A mock-up of the label -->
    <div [ngStyle]="{'width.in': label.tankLabelOptions.labelPrintingOptions.widthInInches,
    'height.in': label.tankLabelOptions.labelPrintingOptions.heightInInches}"
         class="zf-label" [ngClass]="qrLayout">
      <div *ngIf="label.showQrCode" class="lo-column lo-justify-center">
        <qrcode
          [qrdata]="label.stockUrl"
          elementType="url" errorCorrectionLevel="M"
          scale="2"
          width="10">
        </qrcode>
      </div>
      <div [ngStyle]="{ 'font-size.pt': label.tankLabelOptions.labelPrintingOptions.fontPointSize,
       'font-family': label.tankLabelOptions.labelPrintingOptions.fontFamily}"
           class="lo-column lo-full">
        <div *ngFor="let elementLayoutRow of label.labelLayout" class="lo-row lo-justify-space-between">
          <div *ngFor="let elementName of elementLayoutRow">
            <ng-container
              *ngIf="label.labelElements[elementName].visibleOnLabel">{{label.labelElements[elementName].value}}
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="lo-row lo-justify-center lo-gap20">
    <button (click)="done()" color="primary" mat-button>
      <mat-icon>done</mat-icon>
      Return to stock viewer
    </button>
    <button (click)="revert()" color="primary" mat-button>
      <mat-icon>restart_alt</mat-icon>
      Undo customization
    </button>
    <button (click)="print()" color="primary" mat-button>
      <mat-icon>print</mat-icon>
      Print This Label
    </button>
  </div>

  <mat-divider></mat-divider>

  <!--  Label customization area -->
  <div class="lo-row lo-justify-center lo-align-center zf-sub-title"
       matTooltip="Changes here will not affect the data in the database">
    Customize this label
  </div>
  <mat-checkbox [(ngModel)]="label.showQrCode"
                color="primary">Show QR code on label
  </mat-checkbox>
  <form [formGroup]="tankLabelFormGroup">
    <div *ngFor="let row of label.labelLayout" class="lo-row lo-justify-space-between">
      <div *ngFor="let elementName of row" class="lo-full">
        <app-tank-label-element [form]="tankLabelFormGroup"
                                [tankLabelElement]="label.labelElements[elementName]"></app-tank-label-element>
      </div>
    </div>
  </form>
  <div class="fill-remaining-space"></div>
  <div *ngIf="label.tankLabelOptions.showTankInfo && stock.swimmers.length > 1">
    <label>Which Tank?
      <mat-radio-group [(ngModel)]="selectedSwimmerIndex" (change)="selectSwimmer()">
        <mat-radio-button *ngFor="let swimmer of stock.swimmers; let i = index" [value]="i" color="primary">
          {{swimmer.tank.name}}
        </mat-radio-button>
      </mat-radio-group>
    </label>
  </div>
</div>

